In [1]:
import pandas as pd
import numpy as np

Startin with the EDA

In [ ]:
#read in the csv file as a dataf

In [28]:
df_0 = pd.read_csv("/Users/sebastian/Documents/spiced_projects/euclidean_eukalyptus/work/08_week/weekly_project/Supermarket_Markov/data/monday.csv", sep=';')
df_0.tail()

                timestamp  customer_no  location
4879  2019-09-02 21:49:00         1442  checkout
4880  2019-09-02 21:49:00         1444  checkout
4881  2019-09-02 21:49:00         1445     dairy
4882  2019-09-02 21:50:00         1446     dairy
4883  2019-09-02 21:50:00         1447     fruit

In [29]:
df_0['time'] = pd.to_datetime(df_0['timestamp'])

In [31]:
df_0.set_index('timestamp', inplace=True)

In [33]:
df_0['customer_id']='MO'+'_'+(df_0['customer_no'].agg(str))

In [34]:
df_0.head(20)

                     customer_no  location                time customer_id
timestamp
2019-09-02 07:03:00            1     dairy 2019-09-02 07:03:00        MO_1
2019-09-02 07:03:00            2     dairy 2019-09-02 07:03:00        MO_2
2019-09-02 07:04:00            3     dairy 2019-09-02 07:04:00        MO_3
2019-09-02 07:04:00            4     dairy 2019-09-02 07:04:00        MO_4
2019-09-02 07:04:00            5    spices 2019-09-02 07:04:00        MO_5
2019-09-02 07:04:00            6    spices 2019-09-02 07:04:00        MO_6
2019-09-02 07:04:00            7    spices 2019-09-02 07:04:00        MO_7
2019-09-02 07:04:00            8     fruit 2019-09-02 07:04:00        MO_8
2019-09-02 07:05:00            1  checkout 2019-09-02 07:05:00        MO_1
2019-09-02 07:05:00            5  checkout 2019-09-02 07:05:00        MO_5
2019-09-02 07:05:00            6     dairy 2019-09-02 07:05:00        MO_6
2019-09-02 07:05:00            7    drinks 2019-09-02 07:05:00        MO_7
2019-09-02 07:06:00            2  checkout 2019-09-02 07:06:00        MO_2
2019-09-02 07:06:00            3  checkout 2019-09-02 07:06:00        MO_3
2019-09-02 07:06:00            9     dairy 2019-09-02 07:06:00        MO_9
2019-09-02 07:06:00           10     fruit 2019-09-02 07:06:00       MO_10
2019-09-02 07:06:00           11    drinks 2019-09-02 07:06:00       MO_11
2019-09-02 07:06:00           12    spices 2019-09-02 07:06:00       MO_12
2019-09-02 07:06:00           13     dairy 2019-09-02 07:06:00       MO_13
2019-09-02 07:06:00           14     fruit 2019-09-02 07:06:00       MO_14

In [ ]:
#groubby location = checkout over time

In [38]:
df_0.groupby('customer_id')['time'].diff()

timestamp
2019-09-02 07:03:00               NaT
2019-09-02 07:03:00               NaT
2019-09-02 07:04:00               NaT
2019-09-02 07:04:00               NaT
2019-09-02 07:04:00               NaT
                            ...
2019-09-02 21:49:00   0 days 00:02:00
2019-09-02 21:49:00   0 days 00:01:00
2019-09-02 21:49:00               NaT
2019-09-02 21:50:00               NaT
2019-09-02 21:50:00               NaT
Name: time, Length: 4884, dtype: timedelta64[ns]