In [67]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns

# Set figure size to (28,14)
plt.rcParams['figure.figsize'] = (28, 14)

Startin with the EDA

In [68]:
#read in the csv file as a dataf

In [69]:
df_0 = pd.read_csv("/Users/sebastian/Documents/spiced_projects/euclidean_eukalyptus/work/08_week/weekly_project/Supermarket_Markov/data/monday.csv", sep=';')
df_0.tail()

                timestamp  customer_no  location
4879  2019-09-02 21:49:00         1442  checkout
4880  2019-09-02 21:49:00         1444  checkout
4881  2019-09-02 21:49:00         1445     dairy
4882  2019-09-02 21:50:00         1446     dairy
4883  2019-09-02 21:50:00         1447     fruit

In [70]:
df_0['time'] = pd.to_datetime(df_0['timestamp'])

In [71]:
df_0.set_index('timestamp', inplace=True)

In [72]:
df_0['customer_id']='MO'+'_'+(df_0['customer_no'].agg(str))

In [73]:
df_0.head(20)

                     customer_no  location                time customer_id
timestamp
2019-09-02 07:03:00            1     dairy 2019-09-02 07:03:00        MO_1
2019-09-02 07:03:00            2     dairy 2019-09-02 07:03:00        MO_2
2019-09-02 07:04:00            3     dairy 2019-09-02 07:04:00        MO_3
2019-09-02 07:04:00            4     dairy 2019-09-02 07:04:00        MO_4
2019-09-02 07:04:00            5    spices 2019-09-02 07:04:00        MO_5
2019-09-02 07:04:00            6    spices 2019-09-02 07:04:00        MO_6
2019-09-02 07:04:00            7    spices 2019-09-02 07:04:00        MO_7
2019-09-02 07:04:00            8     fruit 2019-09-02 07:04:00        MO_8
2019-09-02 07:05:00            1  checkout 2019-09-02 07:05:00        MO_1
2019-09-02 07:05:00            5  checkout 2019-09-02 07:05:00        MO_5
2019-09-02 07:05:00            6     dairy 2019-09-02 07:05:00        MO_6
2019-09-02 07:05:00            7    drinks 2019-09-02 07:05:00        MO_7
2019-09-02 07:06:00            2  checkout 2019-09-02 07:06:00        MO_2
2019-09-02 07:06:00            3  checkout 2019-09-02 07:06:00        MO_3
2019-09-02 07:06:00            9     dairy 2019-09-02 07:06:00        MO_9
2019-09-02 07:06:00           10     fruit 2019-09-02 07:06:00       MO_10
2019-09-02 07:06:00           11    drinks 2019-09-02 07:06:00       MO_11
2019-09-02 07:06:00           12    spices 2019-09-02 07:06:00       MO_12
2019-09-02 07:06:00           13     dairy 2019-09-02 07:06:00       MO_13
2019-09-02 07:06:00           14     fruit 2019-09-02 07:06:00       MO_14

In [74]:
#count the number of unique customers in each ailse of the supermarket

In [75]:
def question_03(df):
    df = pd.DataFrame(df.groupby(['location']).count()['customer_no'])
    return print(df)

In [76]:
question_03(df_0)

          customer_no
location
checkout         1437
dairy             895
drinks            797
fruit            1005
spices            750

In [77]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4884 entries, 2019-09-02 07:03:00 to 2019-09-02 21:50:00
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_no  4884 non-null   int64
 1   location     4884 non-null   object
 2   time         4884 non-null   datetime64[ns]
 3   customer_id  4884 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 319.8+ KB

In [78]:
#q4: Calculate the time each customer spent in the market

In [79]:
#groubby location = checkout over time

In [96]:
def question_04(df):
    #df['minutes_from_timestamps'] = df['timestamp'].dt.minute
    df = pd.DataFrame(df.groupby([pd.Grouper(key='time',freq='min'),'customer_id']))
    return print(df.head(20))

In [81]:
#df_0.resample('M',on='time')
#df_0

In [82]:
#df_0.groupby('customer_id')['time'].diff()

In [ ]:
#question_04(df_0)