In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns

# Set figure size to (28,14)
plt.rcParams['figure.figsize'] = (28, 14)

In [2]:
def create_id(df, letters):
    df['customer_id'] = letters + '_' + df['customer_no'].astype(str)

In [3]:
#5 Calculate the total number of customers present in the supermarket over time.

def question_05(df):
    df = pd.DataFrame(df.groupby('timestamp').count()['customer_no'])
    sns.lineplot(data=df)

In [4]:
# Function for sorting
def sort_df(df):
    df.sort_index(inplace=True)
    df.sort_values('customer_no', kind='stable', inplace=True)
    return df

In [5]:
# def question_06(df):
#     df.reset_index(inplace=True)
#     df_first = pd.DataFrame(columns=df.columns)
#     df_second = pd.DataFrame(columns=df.columns)
#     for i in range(1,df['customer_no'].max(),1):
#         #print(i)
#         a = df[df['customer_no'] == i].iloc[0]
#         print(a)
#         df_first = df_first.append(a)
#         #print(df_first.head())
#         b = df[df['customer_no'] == i].iloc[1:]
#         df_second = df_second.append(b)
#     fig, axs = plt.subplots(2)
#     sns.histplot(df_first, x="location", ax=axs[0])
#     sns.histplot(df_second, x='location', ax=axs[1])

In [6]:
def markov_columns(df):
    df["before"] = df['location']
    df['after'] = df['location'].shift(-1)
    #df = df.drop(df[(df['before'] == 'checkout')].index)
    #df["after"] = df.apply(lambda x: 'checkout' if x['before'] == 'checkout') 
    #df['after'] = df['before'].apply(lambda x: 'checkout' if (x == 'checkout') else x)
    df.loc[df['before'] == 'checkout', 'after'] = 'checkout'
    df.set_index('customer_id', inplace=True)
    df.drop(columns=['customer_no','location'], inplace=True)
    return df

In [7]:
df_0 = pd.read_csv('data/monday.csv', parse_dates=True, index_col=0, sep=';')

In [8]:
df_1 = pd.read_csv('data/tuesday.csv', parse_dates=True, index_col=0, sep=';')
df_2 = pd.read_csv('data/wednesday.csv', parse_dates=True, index_col=0, sep=';')
df_3 = pd.read_csv('data/thursday.csv', parse_dates=True, index_col=0, sep=';')
df_4 = pd.read_csv('data/friday.csv', parse_dates=True, index_col=0, sep=';')

In [9]:
df_lst = [df_0, df_1, df_2, df_3, df_4]

In [10]:
for i in df_lst:
    sort_df(i)

In [11]:
df_2.head(30)

                     customer_no  location
timestamp
2019-09-04 07:00:00            1     fruit
2019-09-04 07:02:00            1  checkout
2019-09-04 07:00:00            2     dairy
2019-09-04 07:05:00            2    spices
2019-09-04 07:06:00            2  checkout
2019-09-04 07:00:00            3     fruit
2019-09-04 07:01:00            3    spices
2019-09-04 07:03:00            3    drinks
2019-09-04 07:06:00            3     fruit
2019-09-04 07:11:00            3  checkout
2019-09-04 07:00:00            4     fruit
2019-09-04 07:03:00            4  checkout
2019-09-04 07:00:00            5     dairy
2019-09-04 07:01:00            5  checkout
2019-09-04 07:00:00            6    drinks
2019-09-04 07:02:00            6  checkout
2019-09-04 07:01:00            7     dairy
2019-09-04 07:11:00            7    spices
2019-09-04 07:14:00            7  checkout
2019-09-04 07:03:00            8     fruit
2019-09-04 07:05:00            8  checkout
2019-09-04 07:03:00            9    spices
2019-09-04 07:04:00            9  checkout
2019-09-04 07:03:00           10     dairy
2019-09-04 07:06:00           10  checkout
2019-09-04 07:03:00           11     dairy
2019-09-04 07:06:00           11  checkout
2019-09-04 07:03:00           12     fruit
2019-09-04 07:09:00           12  checkout
2019-09-04 07:03:00           13     dairy

In [12]:
create_id(df_0,'MO')
create_id(df_1,'TU')
create_id(df_2,'WE')
create_id(df_3,'TH')
create_id(df_4,'FR')

In [13]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4884 entries, 2019-09-02 07:03:00 to 2019-09-02 21:50:00
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_no  4884 non-null   int64
 1   location     4884 non-null   object
 2   customer_id  4884 non-null   object
dtypes: int64(1), object(2)
memory usage: 152.6+ KB

In [14]:
#we create a list with every single df in order to concatenate them together
df = pd.concat(df_lst)
df.head(50)

                     customer_no  location customer_id
timestamp
2019-09-02 07:03:00            1     dairy        MO_1
2019-09-02 07:05:00            1  checkout        MO_1
2019-09-02 07:03:00            2     dairy        MO_2
2019-09-02 07:06:00            2  checkout        MO_2
2019-09-02 07:04:00            3     dairy        MO_3
2019-09-02 07:06:00            3  checkout        MO_3
2019-09-02 07:04:00            4     dairy        MO_4
2019-09-02 07:08:00            4  checkout        MO_4
2019-09-02 07:04:00            5    spices        MO_5
2019-09-02 07:05:00            5  checkout        MO_5
2019-09-02 07:04:00            6    spices        MO_6
2019-09-02 07:05:00            6     dairy        MO_6
2019-09-02 07:17:00            6    spices        MO_6
2019-09-02 07:18:00            6    drinks        MO_6
2019-09-02 07:25:00            6    spices        MO_6
2019-09-02 07:26:00            6     dairy        MO_6
2019-09-02 07:27:00            6    spices        MO_6
2019-09-02 07:29:00            6  checkout        MO_6
2019-09-02 07:04:00            7    spices        MO_7
2019-09-02 07:05:00            7    drinks        MO_7
2019-09-02 07:09:00            7    spices        MO_7
2019-09-02 07:11:00            7     fruit        MO_7
2019-09-02 07:13:00            7  checkout        MO_7
2019-09-02 07:04:00            8     fruit        MO_8
2019-09-02 07:07:00            8  checkout        MO_8
2019-09-02 07:06:00            9     dairy        MO_9
2019-09-02 07:12:00            9     fruit        MO_9
2019-09-02 07:13:00            9  checkout        MO_9
2019-09-02 07:06:00           10     fruit       MO_10
2019-09-02 07:08:00           10  checkout       MO_10
2019-09-02 07:06:00           11    drinks       MO_11
2019-09-02 07:08:00           11  checkout       MO_11
2019-09-02 07:06:00           12    spices       MO_12
2019-09-02 07:07:00           12    drinks       MO_12
2019-09-02 07:10:00           12  checkout       MO_12
2019-09-02 07:06:00           13     dairy       MO_13
2019-09-02 07:13:00           13    spices       MO_13
2019-09-02 07:14:00           13     dairy       MO_13
2019-09-02 07:15:00           13     fruit       MO_13
2019-09-02 07:16:00           13  checkout       MO_13
2019-09-02 07:06:00           14     fruit       MO_14
2019-09-02 07:09:00           14  checkout       MO_14
2019-09-02 07:07:00           15    spices       MO_15
2019-09-02 07:08:00           15     fruit       MO_15
2019-09-02 07:12:00           15  checkout       MO_15
2019-09-02 07:07:00           16     dairy       MO_16
2019-09-02 07:09:00           16    spices       MO_16
2019-09-02 07:11:00           16  checkout       MO_16
2019-09-02 07:11:00           17     fruit       MO_17
2019-09-02 07:22:00           17  checkout       MO_17

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24877 entries, 2019-09-02 07:03:00 to 2019-09-06 21:50:00
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_no  24877 non-null  int64
 1   location     24877 non-null  object
 2   customer_id  24877 non-null  object
dtypes: int64(1), object(2)
memory usage: 777.4+ KB

In [16]:
df.head(30)

                     customer_no  location customer_id
timestamp
2019-09-02 07:03:00            1     dairy        MO_1
2019-09-02 07:05:00            1  checkout        MO_1
2019-09-02 07:03:00            2     dairy        MO_2
2019-09-02 07:06:00            2  checkout        MO_2
2019-09-02 07:04:00            3     dairy        MO_3
2019-09-02 07:06:00            3  checkout        MO_3
2019-09-02 07:04:00            4     dairy        MO_4
2019-09-02 07:08:00            4  checkout        MO_4
2019-09-02 07:04:00            5    spices        MO_5
2019-09-02 07:05:00            5  checkout        MO_5
2019-09-02 07:04:00            6    spices        MO_6
2019-09-02 07:05:00            6     dairy        MO_6
2019-09-02 07:17:00            6    spices        MO_6
2019-09-02 07:18:00            6    drinks        MO_6
2019-09-02 07:25:00            6    spices        MO_6
2019-09-02 07:26:00            6     dairy        MO_6
2019-09-02 07:27:00            6    spices        MO_6
2019-09-02 07:29:00            6  checkout        MO_6
2019-09-02 07:04:00            7    spices        MO_7
2019-09-02 07:05:00            7    drinks        MO_7
2019-09-02 07:09:00            7    spices        MO_7
2019-09-02 07:11:00            7     fruit        MO_7
2019-09-02 07:13:00            7  checkout        MO_7
2019-09-02 07:04:00            8     fruit        MO_8
2019-09-02 07:07:00            8  checkout        MO_8
2019-09-02 07:06:00            9     dairy        MO_9
2019-09-02 07:12:00            9     fruit        MO_9
2019-09-02 07:13:00            9  checkout        MO_9
2019-09-02 07:06:00           10     fruit       MO_10
2019-09-02 07:08:00           10  checkout       MO_10

In [17]:
df['customer_id'].value_counts()

MO_526     18
TH_1047    17
FR_102     17
MO_380     16
FR_1246    16
           ..
FR_1509     1
TH_1533     1
FR_1506     1
TH_1532     1
MO_1446     1
Name: customer_id, Length: 7445, dtype: int64

In [18]:
df_mar = markov_columns(df)
df_mar.head()

               before     after
customer_id
MO_1            dairy  checkout
MO_1         checkout  checkout
MO_2            dairy  checkout
MO_2         checkout  checkout
MO_3            dairy  checkout

In [19]:
df_mar.head(50)

               before     after
customer_id
MO_1            dairy  checkout
MO_1         checkout  checkout
MO_2            dairy  checkout
MO_2         checkout  checkout
MO_3            dairy  checkout
MO_3         checkout  checkout
MO_4            dairy  checkout
MO_4         checkout  checkout
MO_5           spices  checkout
MO_5         checkout  checkout
MO_6           spices     dairy
MO_6            dairy    spices
MO_6           spices    drinks
MO_6           drinks    spices
MO_6           spices     dairy
MO_6            dairy    spices
MO_6           spices  checkout
MO_6         checkout  checkout
MO_7           spices    drinks
MO_7           drinks    spices
MO_7           spices     fruit
MO_7            fruit  checkout
MO_7         checkout  checkout
MO_8            fruit  checkout
MO_8         checkout  checkout
MO_9            dairy     fruit
MO_9            fruit  checkout
MO_9         checkout  checkout
MO_10           fruit  checkout
MO_10        checkout  checkout
MO_11          drinks  checkout
MO_11        checkout  checkout
MO_12          spices    drinks
MO_12          drinks  checkout
MO_12        checkout  checkout
MO_13           dairy    spices
MO_13          spices     dairy
MO_13           dairy     fruit
MO_13           fruit  checkout
MO_13        checkout  checkout
MO_14           fruit  checkout
MO_14        checkout  checkout
MO_15          spices     fruit
MO_15           fruit  checkout
MO_15        checkout  checkout
MO_16           dairy    spices
MO_16          spices  checkout
MO_16        checkout  checkout
MO_17           fruit  checkout
MO_17        checkout  checkout

In [20]:
df_mar.to_csv('df_mar.csv')

In [21]:
P = pd.crosstab(df_mar['before'], df_mar['after'], normalize=0)
P

after     checkout     dairy    drinks     fruit    spices
before
checkout  1.000000  0.000000  0.000000  0.000000  0.000000
dairy     0.390041  0.001282  0.222697  0.190425  0.195555
drinks    0.536748  0.027145  0.000000  0.219206  0.216901
fruit     0.498829  0.237993  0.136861  0.000586  0.125732
spices    0.250733  0.323741  0.272848  0.152411  0.000266

In [ ]:
question_05(df_0)

In [ ]:
question_05(df_1)

In [ ]:
question_05(df_2)

In [ ]:
question_05(df_3)

In [ ]:
question_05(df_4)