In [203]:
import pandas as pd
import numpy as np
import names
import random
import matplotlib.pyplot as plt
import seaborn as sns
from randomtimestamp import randomtimestamp, random_date, random_time
from datetime import datetime
from datetime import timedelta
# Set figure size to (28,14)
plt.rcParams['figure.figsize'] = (28, 14)

In [2]:
#5 Calculate the total number of customers present in the supermarket over time.

def question_05(df):
    df = pd.DataFrame(df.groupby('timestamp').count()['customer_no'])
    sns.lineplot(data=df)

In [3]:
def question_04(df):
    df.reset_index(inplace=True)
    dict = {}
    # df_first = pd.DataFrame(columns=df.columns)
    # df_second = pd.DataFrame(columns=df.columns)
    for i in range(1,df['customer_no'].max(),1):
        #print(i)
        print(df[df['customer_no'] == i].iloc[0, 0])
        a = df[df['customer_no'] == i].iloc[-1, 0] - \
            df[df['customer_no'] == i].iloc[0, 0]
        dict[i] = a
        # df_first = df_first.append(a)
        # #print(df_first.head())
        # b = df[df['customer_no'] == i].iloc[1:]
        # df_second = df_second.append(b)
    # fig, axs = plt.subplots(2)
    # sns.histplot(df_first, x="location", ax=axs[0])
    # sns.histplot(df_second, x='location', ax=axs[1])
    return dict

In [4]:
# dict = question_06(df_0)

In [5]:
# Create customer_id
def create_id(df, letters):
    df['customer_id'] = letters + '_' + df['customer_no'].astype(str)

In [6]:
# Function for sorting
def sort_df(df):
    df.sort_index(inplace=True)
    df.sort_values('customer_no', kind='stable', inplace=True)
    return df

In [7]:
# Function for filling
def filling_steps(df):
    df_n = df.groupby('customer_no').resample('1T').ffill()
    df_l = df_n[['customer_no', 'location']].set_index('customer_no')
    df_l.reset_index(inplace=True)
    return df_l

In [8]:
# Function for adding checkouts to customers without
def checkout(df):
    for i in range(1, df['customer_no'].max()+1, 1):
        if df[df['customer_no'] == i].iloc[-1, 1] != 'checkout':
            a = df[df['customer_no'] == i].iloc[0,0]
            a_df = pd.DataFrame({"customer_no":[a],'location':'checkout'})
            df = df.append(a_df, ignore_index=True)
    return sort_df(df)

In [9]:
# create Markov columns
def markov_columns(df):
    df["before"] = df['location']
    df['after'] = df['location'].shift(-1)
    df.loc[df['before'] == 'checkout', 'after'] = 'checkout'
    df.set_index('customer_id', inplace=True)
    df.drop(columns=['customer_no','location'], inplace=True)
    return df

In [10]:
df_0 = pd.read_csv('data/monday.csv', parse_dates=True, index_col=0, sep=';')
df_1 = pd.read_csv('data/tuesday.csv', parse_dates=True, index_col=0, sep=';')
df_2 = pd.read_csv('data/wednesday.csv', parse_dates=True, index_col=0, sep=';')
df_3 = pd.read_csv('data/thursday.csv', parse_dates=True, index_col=0, sep=';')
df_4 = pd.read_csv('data/friday.csv', parse_dates=True, index_col=0, sep=';')

In [11]:
df_lst = [df_0, df_1, df_2, df_3, df_4]
days = ['MO','TU','WE','TH','FR']

In [12]:
for i in range(len(df_lst)):
    df_lst[i] = sort_df(df_lst[i])  # df_0 = sort_df(df_0)
    df_lst[i] = filling_steps(df_lst[i])
    df_lst[i] = checkout(df_lst[i])
    create_id(df_lst[i],days[i])   # create_id(df_0, 'MO')

In [13]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4884 entries, 2019-09-02 07:03:00 to 2019-09-02 21:50:00
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_no  4884 non-null   int64
 1   location     4884 non-null   object
dtypes: int64(1), object(1)
memory usage: 114.5+ KB

In [14]:
df_0.head(20)

                     customer_no  location
timestamp
2019-09-02 07:03:00            1     dairy
2019-09-02 07:05:00            1  checkout
2019-09-02 07:03:00            2     dairy
2019-09-02 07:06:00            2  checkout
2019-09-02 07:04:00            3     dairy
2019-09-02 07:06:00            3  checkout
2019-09-02 07:04:00            4     dairy
2019-09-02 07:08:00            4  checkout
2019-09-02 07:04:00            5    spices
2019-09-02 07:05:00            5  checkout
2019-09-02 07:04:00            6    spices
2019-09-02 07:05:00            6     dairy
2019-09-02 07:17:00            6    spices
2019-09-02 07:18:00            6    drinks
2019-09-02 07:25:00            6    spices
2019-09-02 07:26:00            6     dairy
2019-09-02 07:27:00            6    spices
2019-09-02 07:29:00            6  checkout
2019-09-02 07:04:00            7    spices
2019-09-02 07:05:00            7    drinks

In [15]:
df_lst[1].tail(10)

       customer_no  location customer_id
10114         1420    drinks     TU_1420
10115         1420    drinks     TU_1420
10116         1420    drinks     TU_1420
10117         1420  checkout     TU_1420
10118         1421     fruit     TU_1421
10119         1421    drinks     TU_1421
10120         1421  checkout     TU_1421
10121         1422    spices     TU_1422
10122         1422     dairy     TU_1422
10124         1422  checkout     TU_1422

In [16]:
#we create a list with every single df in order to concatenate them together
df = pd.concat(df_lst)
df.head(50)

    customer_no  location customer_id
0             1     dairy        MO_1
1             1     dairy        MO_1
2             1  checkout        MO_1
3             2     dairy        MO_2
4             2     dairy        MO_2
5             2     dairy        MO_2
6             2  checkout        MO_2
7             3     dairy        MO_3
8             3     dairy        MO_3
9             3  checkout        MO_3
10            4     dairy        MO_4
11            4     dairy        MO_4
12            4     dairy        MO_4
13            4     dairy        MO_4
14            4  checkout        MO_4
15            5    spices        MO_5
16            5  checkout        MO_5
17            6    spices        MO_6
18            6     dairy        MO_6
19            6     dairy        MO_6
20            6     dairy        MO_6
21            6     dairy        MO_6
22            6     dairy        MO_6
23            6     dairy        MO_6
24            6     dairy        MO_6
25            6     dairy        MO_6
26            6     dairy        MO_6
27            6     dairy        MO_6
28            6     dairy        MO_6
29            6     dairy        MO_6
30            6    spices        MO_6
31            6    drinks        MO_6
32            6    drinks        MO_6
33            6    drinks        MO_6
34            6    drinks        MO_6
35            6    drinks        MO_6
36            6    drinks        MO_6
37            6    drinks        MO_6
38            6    spices        MO_6
39            6     dairy        MO_6
40            6    spices        MO_6
41            6    spices        MO_6
42            6  checkout        MO_6
43            7    spices        MO_7
44            7    drinks        MO_7
45            7    drinks        MO_7
46            7    drinks        MO_7
47            7    drinks        MO_7
48            7    spices        MO_7
49            7    spices        MO_7

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53931 entries, 0 to 11075
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_no  53931 non-null  int64
 1   location     53931 non-null  object
 2   customer_id  53931 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.6+ MB

In [18]:
df.tail(30)

       customer_no  location customer_id
11044         1500     fruit     FR_1500
11045         1500     fruit     FR_1500
11046         1500     dairy     FR_1500
11070         1500  checkout     FR_1500
11047         1501     fruit     FR_1501
11048         1501     fruit     FR_1501
11049         1501  checkout     FR_1501
11050         1502     fruit     FR_1502
11051         1502  checkout     FR_1502
11052         1503     dairy     FR_1503
11053         1503     dairy     FR_1503
11054         1503    drinks     FR_1503
11071         1503  checkout     FR_1503
11055         1504     fruit     FR_1504
11056         1504  checkout     FR_1504
11057         1505     fruit     FR_1505
11058         1505     dairy     FR_1505
11072         1505  checkout     FR_1505
11059         1506     dairy     FR_1506
11073         1506  checkout     FR_1506
11060         1507     dairy     FR_1507
11061         1507     dairy     FR_1507
11062         1507  checkout     FR_1507
11063         1508     dairy     FR_1508
11064         1508     dairy     FR_1508
11065         1508  checkout     FR_1508
11066         1509    drinks     FR_1509
11074         1509  checkout     FR_1509
11067         1510    spices     FR_1510
11075         1510  checkout     FR_1510

In [19]:
# General eda 
df['customer_id'].value_counts()

TH_1047    53
FR_102     53
WE_710     52
MO_666     52
FR_1238    50
           ..
TH_121      2
MO_1182     2
MO_175      2
MO_1445     2
FR_911      2
Name: customer_id, Length: 7445, dtype: int64

In [20]:
df_mar = markov_columns(df)
df_mar.head()

               before     after
customer_id
MO_1            dairy     dairy
MO_1            dairy  checkout
MO_1         checkout  checkout
MO_2            dairy     dairy
MO_2            dairy     dairy

In [21]:
df_mar.tail(50)

               before     after
customer_id
FR_1497         dairy     dairy
FR_1497         dairy     dairy
FR_1497         dairy  checkout
FR_1497      checkout  checkout
FR_1498         fruit     fruit
FR_1498         fruit  checkout
FR_1498      checkout  checkout
FR_1499         dairy     dairy
FR_1499         dairy     dairy
FR_1499         dairy     dairy
FR_1499         dairy     dairy
FR_1499         dairy  checkout
FR_1499      checkout  checkout
FR_1500         dairy    spices
FR_1500        spices    spices
FR_1500        spices    spices
FR_1500        spices    spices
FR_1500        spices     fruit
FR_1500         fruit     fruit
FR_1500         fruit     fruit
FR_1500         fruit     fruit
FR_1500         fruit     dairy
FR_1500         dairy  checkout
FR_1500      checkout  checkout
FR_1501         fruit     fruit
FR_1501         fruit  checkout
FR_1501      checkout  checkout
FR_1502         fruit  checkout
FR_1502      checkout  checkout
FR_1503         dairy     dairy
FR_1503         dairy    drinks
FR_1503        drinks  checkout
FR_1503      checkout  checkout
FR_1504         fruit  checkout
FR_1504      checkout  checkout
FR_1505         fruit     dairy
FR_1505         dairy  checkout
FR_1505      checkout  checkout
FR_1506         dairy  checkout
FR_1506      checkout  checkout
FR_1507         dairy     dairy
FR_1507         dairy  checkout
FR_1507      checkout  checkout
FR_1508         dairy     dairy
FR_1508         dairy  checkout
FR_1508      checkout  checkout
FR_1509        drinks  checkout
FR_1509      checkout  checkout
FR_1510        spices  checkout
FR_1510      checkout  checkout

In [22]:
df_mar.to_csv('df_mar.csv')

In [23]:
P = pd.crosstab(df_mar['before'], df_mar['after'], normalize=0)
P

after     checkout     dairy    drinks     fruit    spices
before
checkout  1.000000  0.000000  0.000000  0.000000  0.000000
dairy     0.103466  0.736750  0.058569  0.049848  0.051367
drinks    0.215710  0.010899  0.598499  0.087909  0.086983
fruit     0.201605  0.095924  0.054847  0.596947  0.050677
spices    0.150685  0.193214  0.163109  0.090953  0.402039

In [24]:
states = ['checkout','dairy','drinks',"fruit",'spices']

In [25]:
random.choice(states)

'checkout'

In [26]:
# convery the transition matrix to a dictionary that maps state to a list of probabilities
# order such that the first value is transition probability to cold and the second value
# is transition probability to hot

probs = P.to_dict(orient='index')
#probs

In [27]:
# convert internal values, which is a dict to a list
for key in probs.keys():
    probs[key] = list(probs[key].values())

In [28]:
#probs

In [ ]:
# class Customer1:
#     """
#     a single customer that moves through the supermarket
#     in a MCMC simulation
#     """

#     def __init__(self, id, state, transition_probs, budget=100):
#         self.id = id
#         self.state = state
#         self.transition_probs = transition_probs
#         self.budget = budget

#     def __repr__(self):
#         return f'<Customer_no {self.id} in {self.state}>'

#     def next_state(self):
#         '''
#         Propagates the customer to the next state.
#         Returns nothing.
#         '''
#         #self.state = random.choice(['spices', 'drinks', 'fruit'])
#         self.state = random.choices(states, weights=self.transition_probs[self.state])[0]
#         return self.state

#     def is_active(self):
#         """Returns True if the customer has not reached the checkout yet."""
#         return self.state != 'checkout'

In [ ]:
# bagigio = Customer1('bagigio','dairy',probs)

In [ ]:
# lst_customers = [bagigio]

In [ ]:
# for i in lst_customers:
#     i = 0   
#     min_time = random_time(text=True, pattern='%H:%M:%S')
#     # create datetime object from timestamp string
#     given_time = datetime.strptime(min_time, "%H:%M:%S")
#     print(type(given_time))
#     print(f"{given_time.time()} -- {bagigio.id} is in {bagigio.state} section")
#     print(type(given_time))
#     while bagigio.is_active():    
#         i+=1
#         print(f"{(given_time + timedelta(minutes = i)).time()} -- {bagigio.id} is in {bagigio.next_state()} section")

In [204]:
class Customer:
    """
    a single customer that moves through the supermarket
    in a MCMC simulation
    """

    def __init__(self, name, state, budget=100):
        self.name = name
        self.state = state
        self.budget = budget

    def __repr__(self):
        return f'<Customer_no {self.id} in {self.state}>'

    def is_active(self):
        """Returns True if the customer has not reached the checkout yet."""
        return self.state != 'checkout'
    
    def is_not_active(self):
        """Returns True if the customer has not reached the checkout yet."""
        return self.state == 'checkout'

In [113]:
"""
Start with this to implement the supermarket simulator.
"""


class Supermarket:
    """manages multiple Customer instances that are currently in the market.
    """

    def __init__(self, opening, closing):
        ### ADD OPENING AND CLOSING HOURS
        # a list of Customer objects
        self.dict_csv = {'timestamp':[],'customer_no':[],'location':[]}
        self.customers = []
        self.customers_timers = []
        self.time = (datetime.strptime(opening, "%H:%M"))
        self.end_time = (datetime.strptime(closing, "%H:%M"))

    def __repr__(self):
        return 'something about the supermarket'

    def get_time(self):
        """current time in HH:MM format,
        """
        return f"It's {self.time.time()}"
        # ??? just get back the current time

    def print_customers(self):
        """print all customers with the current time and id in CSV format.
        """
        df = pd.DataFrame(self.dict_csv)
        df.to_csv("supermarket.csv")
        return df


        # return self.d_customers_no, self.d_timestamp, self.d_location

    def next_minute(self):
        """propagates all customers to the next state.
        """
        minute = 0
        #if str(self.time.time()) == str((self.end_time - timedelta(minutes=5)).time()):


        while str(self.time.time()) != str(self.end_time.time()):
            self.time = (self.time + timedelta(minutes=minute))
            #print(str(self.time.time())[:-3])
            
            print()
            for i in range(self.number_clients):
                if self.customers_timers[i] == str(self.time.time())[:-3]:
                    self.dict_csv['timestamp'].append(self.customers_timers[i])
                    self.dict_csv['customer_no'].append(self.customers[i].id)
                    self.dict_csv['location'].append(self.customers[i].state)
                    internal_min = 0
                    while self.customers[i].is_active():
                        print(internal_min)
                        self.customers[i].state = random.choices(
                            states, weights=probs[self.customers[i].state])[0]
                        internal_min += 1
                        self.dict_csv['timestamp'].append(str((self.time + timedelta(minutes=internal_min)).time())[:-3])
                        self.dict_csv['customer_no'].append(self.customers[i].id)
                        self.dict_csv['location'].append(self.customers[i].state)

                        
                else:
                    continue
                    

            
            minute = 1


    def add_new_customers(self):
        """randomly creates new customers.
        """
        self.number_clients = random.randint(100, 200)
        for i in range((self.number_clients)):
            self.customers.append(Customer(i, random.choice(states[1:])))
            self.customers_timers.append(random_time(start=self.time.time(), end=self.end_time.time(), text=True, pattern="%H:%M"))

        



    # def remove_exitsting_customers(self):
    #     """removes every customer that is not active any more.
    #     """
    #     for i in self.customers:
    #         if i.state == 'checkout':
    #             #self.customers.remove(i)
    #             self.customers.pop(i)
    #             self.customers_timers.pop(i)

In [261]:
"""
Start with this to implement the supermarket simulator.
"""

class Supermarket_01:
    """manages multiple Customer instances that are currently in the market.
    """

    def __init__(self, opening, closing):
        self.dict_csv = {'timestamp':[],'customer_name':[],'location':[]}
        self.customers = []
        self.time = (datetime.strptime(opening, "%H:%M"))
        self.end_time = (datetime.strptime(closing, "%H:%M"))

    def __repr__(self):
        return 'something about the supermarket'

    def get_time(self):
        """current time in HH:MM format,
        """
        return f"It's {self.time.time()}"

    def print_customers(self):
        """print all customers with the current time and id in CSV format.
        """
        df = pd.DataFrame(self.dict_csv)
        df.to_csv("supermarket_01.csv")
        return df

    def next_minute(self):
        """propagates all customers to the next state.
        """
        minute = 0
        
        while str(self.time.time()) != str(self.end_time.time()):
            self.time = (self.time + timedelta(minutes=minute))
            
            r_range = int(np.sqrt(random.randint(0,len(self.customers))))

            for r in range(r_range):
                if self.customers[r].is_active():
                    self.write_on_dict(r)
                    self.customers[r].state = random.choices(
                        states, weights=probs[self.customers[r].state])[0]

                elif self.customers[r].is_not_active():
                    self.write_on_dict(r)
                    self.customers.pop(r)
                
                    if len(self.customers) == 0:
                        break
                    else:
                        continue 

            minute = 1
                
    def write_on_dict(self, r):
        self.dict_csv['timestamp'].append(str(self.time.time()))
        self.dict_csv['customer_name'].append(self.customers[r].name)
        self.dict_csv['location'].append(self.customers[r].state)
        print(
            f'{str(self.time.time())} {self.customers[r].name} in {self.customers[r].state}')

    def add_new_customers(self):
        """randomly creates new customers.
        """
        self.number_clients = random.randint(10, 20)
        #print(self.number_clients)
        for i in range((self.number_clients)):
            self.customers.append(
                Customer(names.get_full_name(), random.choice(states[1:])))
        
        print(len(self.customers))

In [262]:
s = Supermarket_01('07:00','22:00')

In [263]:
s.add_new_customers()

18

In [264]:
s.next_minute()

07:00:00 Kathleen Roark in fruit
07:00:00 Keith Rollins in fruit
07:00:00 Owen Weaver in spices
07:01:00 Kathleen Roark in fruit
07:02:00 Kathleen Roark in dairy
07:02:00 Keith Rollins in checkout
07:03:00 Kathleen Roark in dairy
07:03:00 Owen Weaver in checkout
07:05:00 Kathleen Roark in dairy
07:05:00 Terrell Knowlton in spices
07:06:00 Kathleen Roark in dairy
07:06:00 Terrell Knowlton in spices
07:06:00 Patricia Batiste in fruit
07:06:00 Michael Mitchell in spices
07:07:00 Kathleen Roark in dairy
07:07:00 Terrell Knowlton in spices
07:08:00 Kathleen Roark in fruit
07:08:00 Terrell Knowlton in spices
07:08:00 Patricia Batiste in fruit
07:09:00 Kathleen Roark in fruit
07:09:00 Terrell Knowlton in spices
07:09:00 Patricia Batiste in dairy
07:10:00 Kathleen Roark in dairy
07:10:00 Terrell Knowlton in spices
07:10:00 Patricia Batiste in dairy
07:11:00 Kathleen Roark in checkout
07:11:00 Patricia Batiste in dairy
07:11:00 Michael Mitchell in checkout
07:11:00 Kathryn Lemus in spices
07:12:00 Terrell Knowlton in spices
07:12:00 Patricia Batiste in dairy
07:13:00 Terrell Knowlton in drinks
07:13:00 Patricia Batiste in dairy
07:14:00 Terrell Knowlton in checkout
07:15:00 Patricia Batiste in dairy
07:15:00 Deborah Delao in spices
07:16:00 Patricia Batiste in dairy
07:16:00 Deborah Delao in spices
07:17:00 Patricia Batiste in dairy
07:17:00 Deborah Delao in fruit
07:17:00 Kathryn Lemus in spices
07:18:00 Patricia Batiste in dairy
07:18:00 Deborah Delao in dairy
07:18:00 Kathryn Lemus in dairy
07:19:00 Patricia Batiste in dairy
07:19:00 Deborah Delao in dairy
07:20:00 Patricia Batiste in dairy
07:20:00 Deborah Delao in dairy
07:20:00 Kathryn Lemus in drinks
07:21:00 Patricia Batiste in dairy
07:22:00 Patricia Batiste in dairy
07:22:00 Deborah Delao in dairy
07:23:00 Patricia Batiste in dairy
07:23:00 Deborah Delao in dairy
07:23:00 Kathryn Lemus in drinks
07:24:00 Patricia Batiste in dairy
07:24:00 Deborah Delao in dairy
07:26:00 Patricia Batiste in dairy
07:26:00 Deborah Delao in dairy
07:26:00 Kathryn Lemus in drinks
07:27:00 Patricia Batiste in fruit
07:28:00 Patricia Batiste in fruit
07:28:00 Deborah Delao in dairy
07:29:00 Patricia Batiste in fruit
07:29:00 Deborah Delao in fruit
07:30:00 Patricia Batiste in fruit
07:30:00 Deborah Delao in spices
07:30:00 Kathryn Lemus in drinks
07:31:00 Patricia Batiste in fruit
07:31:00 Deborah Delao in checkout
07:32:00 Patricia Batiste in fruit
07:32:00 Kathryn Lemus in drinks
07:33:00 Patricia Batiste in fruit
07:34:00 Patricia Batiste in fruit
07:34:00 Kathryn Lemus in fruit
07:35:00 Patricia Batiste in fruit
07:35:00 Kathryn Lemus in checkout
07:36:00 Patricia Batiste in fruit
07:36:00 Aubrey Duncan in drinks
07:39:00 Patricia Batiste in fruit
07:40:00 Patricia Batiste in fruit
07:41:00 Patricia Batiste in drinks
07:42:00 Patricia Batiste in spices
07:42:00 Aubrey Duncan in drinks
07:42:00 Antony Carbone in dairy
07:43:00 Patricia Batiste in checkout
07:43:00 Antony Carbone in drinks
07:44:00 Aubrey Duncan in drinks
07:44:00 Antony Carbone in fruit
07:46:00 Aubrey Duncan in drinks
07:46:00 Antony Carbone in dairy
07:47:00 Aubrey Duncan in spices
07:47:00 Antony Carbone in drinks
07:47:00 Russell Berryhill in fruit
07:48:00 Aubrey Duncan in spices
07:49:00 Aubrey Duncan in drinks
07:50:00 Aubrey Duncan in drinks
07:51:00 Aubrey Duncan in fruit
07:51:00 Antony Carbone in drinks
07:52:00 Aubrey Duncan in fruit
07:52:00 Antony Carbone in drinks
07:53:00 Aubrey Duncan in fruit
07:53:00 Antony Carbone in fruit
07:54:00 Aubrey Duncan in fruit
07:54:00 Antony Carbone in fruit
07:54:00 Russell Berryhill in spices
07:55:00 Aubrey Duncan in drinks
07:56:00 Aubrey Duncan in drinks
07:57:00 Aubrey Duncan in drinks
07:58:00 Aubrey Duncan in drinks
07:58:00 Antony Carbone in fruit
07:59:00 Aubrey Duncan in drinks
08:00:00 Aubrey Duncan in drinks
08:00:00 Antony Carbone in dairy
08:01:00 Aubrey Duncan in drinks
08:01:00 Antony Carbone in dairy
08:02:00 Aubrey Duncan in drinks
08:03:00 Aubrey Duncan in fruit
08:03:00 Antony Carbone in dairy
08:04:00 Aubrey Duncan in dairy
08:04:00 Antony Carbone in dairy
08:07:00 Aubrey Duncan in dairy
08:08:00 Aubrey Duncan in dairy
08:08:00 Antony Carbone in checkout
08:09:00 Aubrey Duncan in dairy
08:10:00 Aubrey Duncan in checkout
08:11:00 Russell Berryhill in spices
08:11:00 Francisco Herkert in drinks
08:12:00 Russell Berryhill in spices
08:13:00 Russell Berryhill in checkout
08:13:00 Gloria Pike in fruit
08:14:00 Francisco Herkert in drinks
08:17:00 Francisco Herkert in drinks
08:17:00 Gloria Pike in fruit
08:18:00 Francisco Herkert in drinks
08:18:00 Gloria Pike in fruit
08:19:00 Francisco Herkert in drinks
08:20:00 Francisco Herkert in checkout
08:20:00 Lisa Hernandez in drinks
08:21:00 Gloria Pike in dairy
08:22:00 Gloria Pike in spices
08:22:00 Lisa Hernandez in checkout
08:23:00 Gloria Pike in spices
08:24:00 Gloria Pike in spices
08:25:00 Gloria Pike in spices
08:25:00 Dorothy Parry in dairy
08:26:00 Gloria Pike in dairy
08:27:00 Gloria Pike in drinks
08:28:00 Gloria Pike in drinks
08:29:00 Gloria Pike in checkout
08:30:00 Dorothy Parry in dairy
08:30:00 Edmond Brown in dairy
08:31:00 Dorothy Parry in fruit
08:33:00 Dorothy Parry in spices
08:34:00 Dorothy Parry in fruit
08:35:00 Dorothy Parry in fruit
08:36:00 Dorothy Parry in drinks
08:36:00 Edmond Brown in dairy
08:37:00 Dorothy Parry in fruit
08:38:00 Dorothy Parry in spices
08:38:00 Edmond Brown in checkout
08:39:00 Dorothy Parry in spices
08:40:00 Dorothy Parry in drinks
08:42:00 Dorothy Parry in spices
08:43:00 Dorothy Parry in fruit
08:44:00 Dorothy Parry in checkout
08:46:00 John Griffin in dairy
08:47:00 John Griffin in dairy
08:48:00 John Griffin in dairy
08:52:00 John Griffin in dairy
08:53:00 John Griffin in spices
08:56:00 John Griffin in spices
08:57:00 John Griffin in spices
08:58:00 John Griffin in checkout
08:59:00 Larry Robeson in fruit
09:02:00 Larry Robeson in fruit
09:04:00 Larry Robeson in fruit
09:05:00 Larry Robeson in fruit
09:08:00 Larry Robeson in fruit
09:13:00 Larry Robeson in checkout

In [265]:
df = s.print_customers()

In [255]:
df.head(40)

   timestamp    customer_no  location
0   07:00:00     Perla Diaz    spices
1   07:00:00  Adam Franklin     dairy
2   07:01:00     Perla Diaz     fruit
3   07:01:00  Adam Franklin    drinks
4   07:02:00     Perla Diaz     fruit
5   07:02:00  Adam Franklin    drinks
6   07:02:00  Nicole Sutton     dairy
7   07:03:00     Perla Diaz     fruit
8   07:03:00  Adam Franklin    spices
9   07:03:00  Nicole Sutton    drinks
10  07:04:00     Perla Diaz     fruit
11  07:04:00  Adam Franklin    drinks
12  07:05:00     Perla Diaz     dairy
13  07:05:00  Adam Franklin    drinks
14  07:06:00     Perla Diaz     fruit
15  07:06:00  Adam Franklin    drinks
16  07:06:00  Nicole Sutton     fruit
17  07:07:00     Perla Diaz    drinks
18  07:07:00  Adam Franklin     fruit
19  07:08:00     Perla Diaz    drinks
20  07:08:00  Adam Franklin  checkout
21  07:09:00     Perla Diaz  checkout
22  07:10:00  Nicole Sutton  checkout
23  07:10:00    Alan Jensen     dairy
24  07:11:00   Carlos Matin     fruit
25  07:12:00   Carlos Matin    drinks
26  07:13:00   Carlos Matin    drinks
27  07:14:00   Carlos Matin     fruit
28  07:14:00    Alan Jensen     dairy
29  07:15:00   Carlos Matin     fruit
30  07:15:00    Alan Jensen     dairy
31  07:16:00   Carlos Matin  checkout
32  07:16:00   Edward Sacco     fruit
33  07:17:00    Alan Jensen     dairy
34  07:18:00    Alan Jensen     dairy
35  07:19:00    Alan Jensen     dairy
36  07:19:00   Edward Sacco  checkout
37  07:20:00    Alan Jensen     dairy
38  07:22:00    Alan Jensen     dairy
39  07:23:00    Alan Jensen     dairy

In [162]:
df.shape

(99, 3)

In [ ]:
print(k)